*{
    box-shadow: border-box;
    font-family: ‘Abel’, sans-serif;
    font-family: ‘Barlow Condensed’, sans-serif;
    font-family: ‘Advent Pro’, sans-serif;
    font-family: ‘Tauri’, sans-serif; 
}
body{
    margin: 0;
    font-size: 1rem;
    line-height: 2;
    color: #333;
    overflow-x: hidden;
}
.v-header{
    height: 50vh;
    display: flex;
    align-items: center;
    color: #fff;
}
.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}
.header-overlay{
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #BFD8D2;
    z-index: 1;
    opacity: 0.65;
}
.header-content{
    z-index: 2;
    align-items: center;
}
.header-content img{
    height: 20%;
    width: 20%;
    padding-top: 20%;    
}
.header-content h1{
    font-size: 30px;
    margin-bottom: 20%;
}
/* NOT USING
.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}
.btn{
    background: #abc2bd;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}
*/
section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section{
    padding: 20px 0;
}
section-b{
    background: #333;
    color: #fff;
}
.subscribe-section button{
    margin: 20px;
    padding: 10px 30px;

    background-color: #FEDCD2;
    color:#4c5654;
    border: solid 1px #DF744A;
    font-size: 80%;
    cursor: pointer;
} 
.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Commenting out this part until I can get JS to work
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;*/
}

/*
.bg-active{
    visibility: visible;
    opacity: 1;
}
*/

.modal{
    position: relative;
    background-color: #fff;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal button{
    margin: 20px;
    padding: 10px 30px;
    background-color: #FEDCD2;
    color:#4c5654;
    border: solid 1px #DF744A;
    font-size: 80%;
    cursor: pointer;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width:960px){
    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}